<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" ng-app="app"> <!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Tiger Batters Vs. Phil Hughes</title>


	<link rel="stylesheet" href="js/vendor/foundation/css/foundation.css">
	<link rel="stylesheet" href="css/style-stats.css">


	<script src="js/vendor/foundation/js/vendor/modernizr.js"></script>
	<script src="js/vendor/angular/angular.js"></script>
	<script src="js/vendor/d3/d3.min.js"></script>
	<script src="js/RadarChart.js"></script>
	<script src="js/app.js"></script>
	<script src="js/main.ctrl.js"></script>

</head>
<body ng-controller="MainController as main">


	<div class="pageHead">

	<!-- <a href="stats-home-sketch.html"><div class="button"> < back to team selection</div></a> -->
	</br>
		<ul>
		<li><h1 class="tigers">Tigers Lineup</h1></li>
		<li><div class="vs">vs</div></li>
		<li><h1 class="twins"><b>Twins / Phil Hughes</h1><h2>R / 4.32 ERA / 214 G</h2></li>
		</ul>
	</div>

	<div class="pageIntro">
			<p>The stats below represent how the Detroit Tigers' starting lineup has historically performed against Phil Hughes. The intent of the visualizations is to show, at-a glance, how well a batter has done in the categories of overall hits per at bat (BA), getting on base (OBP), and hitting for power (SLG). All data comes from <a href="http://www.baseball-reference.com/">baseball-reference.com</a></p>
		</div>
	</div>

     <ul class="batter-list">
        <li class="batter" ng-repeat="batterItem in batterList" ng-if="batterItem.gsx$pitcher.$t==='Phil Hughes'">
			<radar-chart batter-data="batterItem" id="chart{{$index}}" class="chart"></radar-chart>
		</li>
    </ul>

</body>
</html>