<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
	<title>Pitchers</title>
  	<script src="js/vendor/angular/angular.js"></script>
    <script src="js/vendor/d3/d3.min.js"></script>
	<script src="js/RadarChart.js"></script>
	<script src="js/app.js"></script>
	<script src="js/main.ctrl.js"></script>
	<link rel="stylesheet" href="css/style-stats.css">
	<style>
		body {
		  margin: 0;
		  font-size: 14px;
		  font-family: "Helvetica Neue", Helvetica;

		}

		.chart {
			float:left;
			width: 200px;
			margin-left: 100px;
			color: #ee542a;
		}
		.list-group li {
			list-style-type: none;
			margin: 0px;
			padding: 0px;
		}

	</style>
  </head>
  <body ng-controller="MainController as main">

     <ul class="list-group">
        <li class="list-group-item" ng-repeat="batterItem in batterList" ng-if="batterItem.gsx$pitcher.$t==='Phil Hughes'">
			<radar-chart batter-data="batterItem" id="chart{{$index}}" class="chart"></radar-chart>
        	
		</li>
    </ul>
  
  </body>
</html>